.fuzzy-bubbles-regular {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fuzzy-bubbles-bold {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

/* .typing{
  width: 8ch;
  text-wrap: nowrap;
  overflow: hidden;
  animation: typing 2s steps(30) infinite alternate-reverse
}

@keyframes typing {
  from{
    width: 0ch;
  }
} */